{% extends 'base.html' %} 
{% block title %}
{{slug}}
{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'customs/css/blog-list.css' %}" />
<br/>
<div>
  <!--? Hero Start -->
  <div class="container">
    <div class="slider-area2" style="background-image: url('https://via.placeholder.com/1100x450')">
      <div class="slider-height2 hero-overly2 d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap hero-cap2 text-center">
                          <h2>{{category.name}}</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  
<!-- Hero End -->


<section class="blog_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-12">
              <div class="blog_left_sidebar">
                {% for entry in entries %}
                <article class="blog_item">
                    <div class="blog_item_img">
                        <a href="#"><img class="card-img rounded-0" src="https://via.placeholder.com/700x500" alt="image_not_found"></a>
                        <a href="#" class="blog_item_date">
                            <p>{{entry.published_timestamp | date:"DATE_FORMAT" }}</p>
                        </a>
                    </div>

                    <div class="blog_details">
                        <a class="d-inline-block" href="{{ entry.get_absolute_url }}">
                            <h2>{{entry.title}}</h2>
                        </a>
                        <p>{{entry.content |truncatewords_html:60 }}</p>
                        <ul class="blog-info-link">
                          {% if entry.tags.all|length > 0 %}
                          <li><a href="{{ entry.get_absolute_url }}"><i class="fa fa-tag"></i>{% for i in entry.tags.all %}{{i}},{% endfor %}</a></li>
                          {% endif %}
                          <li><a href="{{ entry.get_absolute_url }}"><i class="fa fa-tag"></i>{{entry.category.name}}</i></a></li>
                            <li><a href="{{ entry.get_absolute_url }}"><i class="fa fa-user"></i>by {{entry.author}}</a></li>
                        </ul>
                    </div>
                </article>
                {% endfor %}
             
              </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="main-sidebar">
              <!-- Single Widget -->
              <div class="single-widget category">
                <h3 class="title">Categories</h3>
                <ul class="categor-list">
                  {% for category in categories %}
                    <li><a href="/category/{{category.slug}}">{{category.name}}</a></li> 
                  {% endfor %}
                </ul>
              </div>
              <!--/ End Single Widget -->
              <!-- Single Widget -->
              <div class="single-widget recent-post">
                <h3 class="title">Recent post</h3>
                <!-- Single Post -->
                {% for recent in recents %}
                  <div class="single-post">
                    <div class="image">
                      <img src="https://via.placeholder.com/100x100" alt="#">
                    </div>
                    <div class="content">
                      <h5><a href="/category/{{recent.category.slug}}/{{recent.slug}}">{{recent.title}}</a></h5>
                      <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>{{recent.published_timestamp | date:"DATE_FORMAT" }}</li>
                        <!-- <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li> -->
                      </ul>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!--/ End Single Widget -->
              <!-- Single Widget -->
              <!--/ End Single Widget -->
              <!-- Single Widget -->
              {% if tags|length > 0 %}
              <div class="single-widget side-tags">
                <h3 class="title">Tags</h3>
                <ul class="tag">
                  {% for tag in tags %}
                  <li><a href="#">tag.name</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <!--/ End Single Widget -->
    
            </div>
          </div>
      </div>
  </div>
</section>
<!--================Blog Area =================-->

</div>
<br/>
{% endblock %}
