{% extends 'base.html' %} 
{% load static %}
{% block title %}
{{slug}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'customs/css/blog.css' %}" />
<section class="blog-single section">
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="blog-single-main">
          <div class="row">
            <div class="col-12">
              <div class="image">
                <img src="https://via.placeholder.com/950x460" alt="#">
              </div>
              <div class="blog-detail">
                <h2 class="blog-title">{{entry.title}}</h2>
                <div class="blog-meta">
                  <span class="author">
                    <a href="#"><i class="fa fa-user"></i>By {{entry.author}}</a>
                    <a href="#"><i class="fa fa-calendar"></i>{{entry.published_timestamp | date:"DATE_FORMAT" }}</a>
                    <!-- <a href="#"><i class="fa fa-comments"></i>Comment (15)</a> -->
                  </span>
                </div>
                <div class="content">
                  {{entry.content}}
                  <!-- <blockquote> <i class="fa fa-quote-left"></i> Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. Life is too short. You'll be an old man before you know it. risus. Ut tincidunt, erat eget feugiat eleifend, eros magna dapibus diam.</blockquote> -->
                  
                </div>
              </div>
              <div class="share-social">
                <div class="row">
                  <div class="col-12">
                    <div class="content-tags">
                      <h4>Tags:</h4>
                      <ul class="tag-inner">
                        {% if entry.tags.all|length > 0 %}
                        {% for i in entry.tags.all %}
                        <li><a href="/tag/{{i.slug}}">{{i.name}}</a></li>
                        {% endfor %}
                          {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="main-sidebar">
          <!-- Single Widget -->
          <div class="single-widget category">
            <h3 class="title">Categories</h3>
            <ul class="categor-list">
              {% for category in categories %}
                <li><a href="/category/{{category.slug}}">{{category.name}}</a></li> 
              {% endfor %}
            </ul>
          </div>
          <!--/ End Single Widget -->
          <!-- Single Widget -->
          <div class="single-widget recent-post">
            <h3 class="title">Recent post</h3>
            <!-- Single Post -->
            {% for recent in recents %}
                  <div class="single-post">
                    <div class="image">
                      <img src="https://via.placeholder.com/100x100" alt="#">
                    </div>
                    <div class="content">
                      <h5><a href="/category/{{recent.category.slug}}/{{recent.slug}}">{{recent.title}}</a></h5>
                      <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>{{recent.published_timestamp | date:"DATE_FORMAT" }}</li>
                        <!-- <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li> -->
                      </ul>
                    </div>
                  </div>
                {% endfor %}
            <!-- End Single Post -->
          </div>
          <!--/ End Single Widget -->
          <!-- Single Widget -->
          <!--/ End Single Widget -->
          <!-- Single Widget -->
          {% if tags|length > 0 %}
              <div class="single-widget side-tags">
                <h3 class="title">Tags</h3>
                <ul class="tag">
                  {% for tag in tags %}
                  <li><a href="#">tag.name</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
          <!--/ End Single Widget -->

        </div>
      </div>
    </div>
  </div>
</section>
<br/>
{% endblock %}